# Nuxt build output
.nuxt
.output

# Vite cache
.vite

# Node
node_modules
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-lock.yaml

# Local env files
.env
.env.*

# Firebase Admin SDK secrets
/server/serviceAccount.json

# VSCode
.vscode/

# IDEs
.idea/
.DS_Store

# Optional Netlify or Vercel
.netlify/
.vercel/

# OS system files
Thumbs.db
